<% title "Business Card Orders" %>
<p><%= link_to "New Business Card Order", new_business_card_order_path %></p>

<table>
  <tr>
    <th width="100" align="left">Quantity</th>
    <th width="100" align="left">Batch</th>
    <th width="100" align="left">Reprint</th>
    <th width="200" align="left">Name</th>
    <th width="200" align="left">School</th>
  </tr>
  <% for business_card_order in @business_card_orders %>
    <tr>
      <td align="left"><%=h business_card_order.quantity %></td>
      <td align="left"><%=h business_card_order.business_card_batch_id %></td>
      <td align="left"><%=h business_card_order.reprint %></td>
      <td align="left"><%=h business_card_order.business_card.name %></td>
      <td align="left"><%=h business_card_order.business_card.school %></td>
      <td><%= link_to "Show", business_card_order %></td>
      <td><%= link_to "Edit", edit_business_card_order_path(business_card_order) %></td>
      <td><%= link_to "Destroy", business_card_order, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

