<tr id="<%=song.id%>" class = "<%= "#{cur_class}" %>" >
  <% unless toggledraws.include?(:no_checkbox) %> <td><%= check_box_tag("songs[]", song.id, false, :class=>'song') %> </td> <% end %>
  <% if toggledraws.include?(:request_button)  %> <td><%= link_to "Request", :id => song, :action => :pick %> </td> <% end %>
  <% unless toggledraws.include?(:no_title)    %> <td><%= link_to song.title, song  %></td> <% end %>
  <% unless toggledraws.include?(:no_track)    %> <td width="5%"><%= song.track %></td><% end %>
  <% unless toggledraws.include?(:no_artist)   %> <td><%= link_to song.artist.name, song.artist %></td> <% end %>
  <% unless toggledraws.include?(:no_album)    %> <td><%= link_to song.album.name, song.album %></td> <% end %>
  <% unless toggledraws.include?(:no_genre)    %> <td><%=h song.genre.name %></td> <% end %>
  <% unless toggledraws.include?(:no_dnd)      %> <td><%= hidden_field_tag("index[]", song.form_idx.to_i, :class=>'reqlist') -%></td><% end %>

</tr>

