<%= javascript_include_tag 'jquery.tablednd' %>
 <% form_tag :controller => :selections_dispatch, :action => :dispatch do %>

<table id="table-1">
  <tr class="nodrop nodrag">
    <% unless toggledraws.include?(:no_checkbox) %> <th width="5%" >&nbsp;</th> <% end %>
    <% unless toggledraws.include?(:no_title)    %> <th width="25%"><%= default_sortable_header("title", 'desc') %></th> <% end %>
    <% unless toggledraws.include?(:no_track)    %> <th width="5%" >Track</th>  <% end %>
    <% unless toggledraws.include?(:no_artist)   %> <th width="25%"><%= sortable_header("artist", 'asc') %></th> <% end %>
    <% unless toggledraws.include?(:no_album)    %> <th width="20%"><%= sortable_header("album",  'asc') %></th> <% end %>
    <% unless toggledraws.include?(:no_genre)    %> <th width="10%"><%= sortable_header("genre",  'asc') %></th> <% end %>


  </tr>
    <% for song in songs %>
        <%= render :partial => 'selections_dispatch/song', :locals => { :song => song, :toggledraws => toggledraws, :cur_class => cycle("cssAlternating1", "cssAlternating2") } %>
    <% end %>
</table>

<br />
<hr>
 <%     unless toggledraws.include?(:no_dnd)    %><p><%= submit_tag "Set Order", :name => "submit"            %></p> <% end %>
 <%     unless toggledraws.include?(:no_checkbox) %><p><%= submit_tag "Remove Selected", :name => "submit"               %></p> <% end %>
<% end %>

<% unless toggledraws.include?(:no_dnd) %>
<script type="text/javascript">
  $(document).ready(function() {
      // Initialise the table
      $("#table-1").tableDnD({
        onDragClass: "cssNoDay1"
      });
  });
  </script>
<% end %>