<% title "Departments" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% for departments in @departments %>
    <tr>
      <td><%=h departments.name %></td>
      <td><%= link_to "Show", departments %></td>
      <td><%= link_to "Edit", edit_department_path(departments) %></td>
      <td><%= link_to "Destroy", departments, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Departments", new_department_path %></p>
