<h1>Editing persiphone</h1>

<% form_for(@persiphone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person_id %><br />
    <%= f.text_field :person_id %>
  </p>
  <p>
    <%= f.label :phone_id %><br />
    <%= f.text_field :phone_id %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @persiphone %> |
<%= link_to 'Back', persiphones_path %>