<h1>Listing persiphones</h1>

<table>
  <tr>
    <th>Person</th>
    <th>Phone</th>
  </tr>

<% @persiphones.each do |persiphone| %>
  <tr>
    <td><%=h persiphone.person.last_name %></td>
    <td><%=h persiphone.phone.phone_number %></td>
    <td><%= link_to 'Show', persiphone %></td>
    <td><%= link_to 'Edit', edit_persiphone_path(persiphone) %></td>
    <td><%= link_to 'Destroy', persiphone, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New persiphone', new_persiphone_path %>