<% title "Tasks" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Job</th>
  </tr>
  <% for tasks in @tasks %>
    <tr>
      <td><%=h tasks.name %></td>
      <td><%=h tasks.description %></td>
      <td><%=h tasks.job_id %></td>
      <td><%= link_to "Show", tasks %></td>
      <td><%= link_to "Edit", edit_tasks_path(tasks) %></td>
      <td><%= link_to "Destroy", tasks, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Tasks", new_tasks_path %></p>
