<% form_for(@request) do |request_form| %>
  <%= request_form.error_messages %>

  <p>
    <%= request_form.label :user %><br />
    <%= @request.user.name %>
  </p>
  <p>
    <%= request_form.label :name %><br />
    <%= request_form.text_field :name %>
  </p>
  <p>
    <%= request_form.label :department %><br />
    <%= request_form.text_field :department %>
  </p>
  <p>
    <%= request_form.label :bldg %><br />
    <%= request_form.text_field :bldg %>
  </p>

  <div id="items">
    <% request_form.fields_for :items do |item_form| %>
      <div class="item">
        <%= render :partial => 'item', :locals => { :f => item_form } %>
      </div>
      <% unless item_form.object.new_record? %>
      <div>
        <%= item_form.label :_delete, 'Remove:' %>
        <%= item_form.check_box :_delete %>
      </div>
      <% end %>
    <% end %>
  </div>
  <p>
    <%#= add_item_link "Add an Item", request_form %></p>
  <p>
    
    <%= request_form.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', requests_path %>