<p>
  <b>User:</b>
  <%=h @request.user %>
</p>

<p>
  <b>Name:</b>
  <%=h @request.name %>
</p>

<p>
  <b>Department:</b>
  <%=h @request.department %>
</p>

<p>
  <b>Bldg:</b>
  <%=h @request.bldg %>
</p>

<p>
  <b>Status:</b>
  <%=h @request.status %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>