<% form_for @bc_school do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip %>
  </p>
  <p>
    <%= f.label :default_phone %><br />
    <%= f.text_field :default_phone %>
  </p>
  <p>
    <%= f.label :default_fax %><br />
    <%= f.text_field :default_fax %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
