<% title "Bc School" %>

<p>
  <strong>Name:</strong>
  <%=h @bc_school.name %>
</p>
<p>
  <strong>Address:</strong>
  <%=h @bc_school.address %>
</p>
<p>
  <strong>City:</strong>
  <%=h @bc_school.city %>
</p>
<p>
  <strong>State:</strong>
  <%=h @bc_school.state %>
</p>
<p>
  <strong>Zip:</strong>
  <%=h @bc_school.zip %>
</p>
<p>
  <strong>Default Phone:</strong>
  <%=h @bc_school.default_phone %>
</p>
<p>
  <strong>Default Fax:</strong>
  <%=h @bc_school.default_fax %>
</p>

<p>
  <%= link_to "Edit", edit_bc_school_path(@bc_school) %> |
  <%= link_to "Destroy", @bc_school, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", bc_schools_path %>
</p>
