<p>
  <b>Person:</b>
  <%=h @inquiry.person_id %>
</p>

<p>
  <b>Department:</b>
  <%=h @inquiry.department_id %>
</p>

<p>
  <b>Message text:</b>
  <%=h @inquiry.message_text %>
</p>

<p>
  <b>Person phone:</b>
  <%=h @inquiry.person_phone %>
</p>

<p>
  <b>Graphic arts person:</b>
  <%=h @inquiry.graphic_arts_person %>
</p>

<p>
  <b>Created on:</b>
  <%=h @inquiry.created_on %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>