<% title "Accounts" %>

<table>
  <tr>
    <th>Account Number</th>
    <th>Department</th>
    <th>Name</th>
  </tr>
  <% for accounts in @accounts %>
    <tr>
      <td><%=h accounts.account_number %></td>
      <td><%=h accounts.department_id %></td>
      <td><%=h accounts.name %></td>
      <td><%= link_to "Show", accounts %></td>
      <td><%= link_to "Edit", edit_account_path(accounts) %></td>
      <td><%= link_to "Destroy", accounts, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Accounts", new_account_path %></p>
