<h1>Listing plentries</h1>

<table>
  <tr>
    <th>Song</th>
    <th>Playlist</th>
  </tr>

<% for plentry in @plentries %>
  <tr>
    <td><%=h plentry.song %></td>
    <td><%=h plentry.playlist %></td>
    <td><%= link_to 'Show', plentry %></td>
    <td><%= link_to 'Edit', edit_plentry_path(plentry) %></td>
    <td><%= link_to 'Destroy', plentry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New plentry', new_plentry_path %>
