<h1>New plentry</h1>

<% form_for(@plentry) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :song %><br />
    <%= f.text_field :song %>
  </p>
  <p>
    <%= f.label :playlist %><br />
    <%= f.text_field :playlist %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', plentries_path %>
