<br />
<h1>Listing songs</h1>
<% form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<table>
  <tr>
    <th width="25%"><%= default_sortable_header("title", 'desc') %></th>
    <th width="25%"><%= sortable_header("artist", 'asc') %></th>
    <th width="20%"><%= sortable_header("album", 'asc') %></th>
    <th width="10%"><%= sortable_header("genre", 'asc') %></th>
    <th width="5%" >Size</th>
    <th width="5%" >Type</th>
    <th colspan="5%" >&nbsp;</th>
    <th colspan="5%" >&nbsp;</th>
  </tr>

<% for song in @songs %>
  <%= render :partial => 'song', :locals => { :song => song, :cur_class => cycle("cssAlternating1", "cssAlternating2") } %>
<% end %>
</table>

<br />

<%= will_paginate @products %>
<br>
