<% form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :task_type_id %><br />
    <%= f.text_field :task_type_id %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :completed_date %><br />
    <%= calendar_field 'task', 'completed_date', { :width => 75 }, { :firstDay => 1 } %>
  </p>
  <p>
    <%= f.label :job_id %><br />
    <%= f.text_field :job_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
