<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <title><%= h(yield(:title) || "Untitled") %></title>
    <%= stylesheet_link_tag 'application', 'SpryAccordion', 'autocomplete' %>
    <%#= javascript_include_tag 'prototype', 'application', 'controls', 'dragdrop', 'effects', 'SpryAccordion' %>
    <%= javascript_include_tag :all %>
    <%= dhtml_calendar_includes %>
    <%= yield(:head) %>
  </head>
  <body class="twoColFixLtHdr">
    <div id="container">
      <div id="user_nav">
        <% if current_user %>
          <%= link_to "Edit Profile", edit_user_path(:current) %>
          <%= link_to "Logout", logout_path %>
        <% else %>
          <%= link_to "Register",  new_user_path %>
          <%= link_to "Login",  login_path %>
        <% end %>
      </div>
      
      <%- flash.each do |name, msg| -%>
        <%= content_tag :div, msg, :id => "flash_#{name}" %>
      <%- end -%>
      
        <%- if show_title? -%>
          <h1><%=h yield(:title) %></h1>
        <%- end -%>
      <div id="sidebar1">
        <%= link_to "Show Jobs In Process", :controller => "jobs", :action => "index", :show => "incomplete"  %><br />
        <%= link_to "Show all jobs", :controller => "jobs", :action => "index", :show => "all" %><br />
        <hr />
				<% form_tag (jobs_path, :method => "get" ) do %>
          <%= label_tag :search %><br />
          <%= text_field_tag (:search) %><br />
          <%= submit_tag("Search Jobs", :controller => "jobs", :action => "index", :name => nil ) %>
        <% end %>
				<hr />
				<h3>Workflow:</h3>
				<h5>Show only jobs with the next step of:</h5>
				<%= link_to "Design", :controller => "jobs", :action => "index", :show => "design" %><br />
				<%= link_to "Copy", :controller => "jobs", :action => "index", :show => "copy" %><br />
				<%= link_to "Press", :controller => "jobs", :action => "index", :show => "press" %><br />
				<%= link_to "Bindry", :controller => "jobs", :action => "index", :show => "bindry" %><br />
				<%= link_to "Ship", :controller => "jobs", :action => "index", :show => "ship" %><br />
				<%= link_to "Shipped", :controller => "jobs", :action => "index", :show => "shipped" %><br />
      </div>
      <div id="mainContent">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
