<td><%=link_to member.name, Member::MEMBER_URL_PREFIX + member.url.to_s, :popup => true %></td>
<td><%=h member.level %></td>
<td><%=image_tag(member.racepic) %></td>
<td><%=image_tag(member.classpic) %></td>
<td><%=h member.health %></td>
<td><%=h member.armor %></td>
<td><%=h member.strength %></td>
<td><%=h member.stamina %></td>
<td><%=h member.agility %></td>
<td><%=h member.spirit %></td>
<td><%=h member.intellect %></td>

