<h1>Please Set Attributes for <%= @member.name %> </h1>
<h2>Guild: <%= @member.guild %></h2>
  <p>
    Race:
    <%= image_tag(@member.racepic) %>
  </p>
  <p>
    Class:
    <%= image_tag(@member.classpic) %>
  </p>
<% form_for(@member) do |f| %>
  <%= f.error_messages %>
<h3> Select all roles that <%= @member.name %> is capable of raiding with.</h3>
  <% Capability.all.each do |g| %>
  <p>
  <%= check_box_tag "member[capability_ids][]", g.id, @member.capabilities.include?(g) %>
  <%= h g.name %>
  </p>
  <% end %>
  
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @member %> |
<%= link_to 'Back', members_path %>