<h1>Listing All members</h1>

<div id="tabs">
  
  <ul>
    <% WowInterface::GUILDS.each_index do |idx| %>
      <% guild = WowInterface::GUILDS[idx] %>
      <li><a href="#tabs-<%= idx -%>"><%= guild -%></a></li>
    <% end -%>
  </ul>

<% WowInterface::GUILDS.each_index do |idx| %>
  <% mems = @members.select{|m| m.guild == WowInterface::GUILDS[idx]} %>
  <% unless mems.empty? %>
    <div id="tabs-<%= idx -%>">
      <table>
        <tr>
          <th width=5%><%= default_sortable_header("name", 'desc') %></th>
          <th width=3%>Level</th>
          <th width=3%><%= sortable_header("racepic", 'asc') %></th>
          <th width=3%><%= sortable_header("classpic",  'asc') %></th>
          <th width=3%><%= sortable_header("health",  'asc') %></th>
          <th width=3%><%= sortable_header("armor",  'asc') %></th>
          <th width=3%><%= sortable_header("strength",  'asc') %></th>
          <th width=3%><%= sortable_header("stamina",  'asc') %></th>
          <th width=3%><%= sortable_header("agility",  'asc') %></th>
          <th width=3%><%= sortable_header("spirit",  'asc') %></th>
          <th width=3%><%= sortable_header("intellect",  'asc') %></th>
        </tr>
        <% mems.each do |dude| %>
          <tr class="<%= cycle("even", "odd") -%>">
          <%= render :partial => 'member', :locals => {:member => dude}%>
          </tr>
        <% end %>
      </table>
    </div> <!-- tabs-<%= idx%> -->
    <% end %>
  <% end %>
</div> <!-- tabs -->

<script>
  $(document).ready(function() {
    // Tabs
    $('#tabs').tabs();
  });
</script>



