<h1><%=h @title %></h1>
<p> Click name to edit available roles </p>

  <% unless @members.empty? %>
      <table>
        <tr>
          <th width=5%><%= default_sortable_header("name", 'desc') %></th>
          <td width=5%><%= sortable_header("guild", 'asc') %></th>
          <th width=3%>Level</th>
          <th width=3%><%= sortable_header("racepic", 'asc') %></th>
          <th width=3%><%= sortable_header("classpic",  'asc') %></th>
          <% @capabilities.each do |cap| %>
          <th width=3%><%= cap.name %></th>
          <% end %>
        </tr>
        <% @members.each do |dude| %>
          <tr class="<%= cycle("even", "odd") -%>">
          <%= render :partial => 'mymember', :locals => {:member => dude, :capabilities => @capabilities}%>
          </tr>
        <% end %>
      </table>
    <% end %>
<script>
  $(document).ready(function() {
    // Tabs
    $('#tabs').tabs();
  });
</script>



