<p>
  <b>Name:</b>
  <%=h @member.name %>
</p>

<p>
  <b>Level:</b>
  <%=h @member.level %>
</p>

<p>
  <b>Racepic:</b>
  <%=h @member.racepic %>
</p>

<p>
  <b>Classpic:</b>
  <%=h @member.classpic %>
</p>

<p>
  <b>Guild:</b>
  <%=h @member.guild %>
</p>

<p>
  <b>Health:</b>
  <%=h @member.health %>
</p>

<p>
  <b>Armor:</b>
  <%=h @member.armor %>
</p>

<p>
  <b>Strength:</b>
  <%=h @member.strength %>
</p>

<p>
  <b>Stamina:</b>
  <%=h @member.stamina %>
</p>

<p>
  <b>Agility:</b>
  <%=h @member.agility %>
</p>

<p>
  <b>Spirit:</b>
  <%=h @member.spirit %>
</p>

<p>
  <b>Intellect:</b>
  <%=h @member.intellect %>
</p>


<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>