<% title "Oversupply" %>

<p>
  <strong>Name:</strong>
  <%=h @oversupply.name %>
</p>
<p>
  <strong>Building:</strong>
  <%=h @oversupply.building %>
</p>
<p>
  <strong>Contact:</strong>
  <%=h @oversupply.contact %>
</p>
<p>
  <strong>User-supplied date:</strong>
  <%=h @oversupply.user_date %>
</p>

<p>
  <%= link_to "Edit", edit_oversupply_path(@oversupply) %> |
  <%= link_to "Destroy", @oversupply, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", oversupplies_path %>
</p>
