<% form_for @workflow do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :task_id %><br />
    <%= f.text_field :task_id %>
  </p>
  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :order %><br />
    <%= f.text_field :order %>
  </p>
  <p>
    <%= f.label :completed %><br />
    <%= f.check_box :completed %>
  </p>
  <p>
    <%= f.label :completed_date %><br />
    <%= calendar_field 'workflow', 'completed_date', { :width => 75 }, { :firstDay => 1 } %>
  </p>
  <p>
    <%= f.label :job_id %><br />
    <%= f.text_field :job_id %>
  </p>
  <p><%= f.submit "Submit" %></p>
  <p>Order: ** CRUCIAL<br />
  Use one of these step numbers<br />
  or add 1 or more to the base number<br /> 
  for ADDITIONAL steps of the same kind<br />
  Design = 10<br />
  Copy = 70<br />
  Press = 80<br />
  Bindery = 90<br />
  Ship = 100<br />
  For example, the second Design step of "Proof Sent" could be 11, and a third Design step of "Proof OK" could be 12</p>
  <p>Include the Job ID# in "Job" ** CRUCIAL</p>
  <p>You can include a name (Design, Copy, Press, Bindery, Ship) in "Name", or leave it blank (Preferable to include it)</p>
  <p>You can include a note in "Note" if desired</p>
  <p>Completed: check if it's completed. You can also do this from the Job/ screen.</p>
  
<% end %>
