<table border="1" cellpadding="5" cellspacing="0" style=cursor:pointer>
  <tr>
    <% printtime = sprintf("%02i:00", time.keytime) %>
    <td width=100; ALIGN="center"><%= printtime %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.sun ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.sun ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :sun, :keytime => time.keytime}, :method=>:get}%>"><%= time.sun ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.mon ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.mon ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :mon, :keytime => time.keytime}, :method=>:get}%>"><%= time.mon ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.tue ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.tue ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :tue, :keytime => time.keytime}, :method=>:get}%>"><%= time.tue ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.wed ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.wed ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :wed, :keytime => time.keytime}, :method=>:get}%>"><%= time.wed ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.thu ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.thu ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :thu, :keytime => time.keytime}, :method=>:get}%>"><%= time.thu ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.fri ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.fri ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :fri, :keytime => time.keytime}, :method=>:get}%>"><%= time.fri ? printtime : "&nbsp;" %></td>
    <td width=100; ALIGN="center"; BGCOLOR='<%= time.sat ? '#fadcc9' : 'white' %>';
        onmouseover="ChangeColor(this, 1);" onmouseout="ChangeColor(this, <%=time.sat ? '2' : '3' %>);"
        onclick="<%=remote_function :url=>{:action=> 'edit', :with => {:id=> time.id, :day => :sat, :keytime => time.keytime}, :method=>:get}%>"><%= time.sat ? printtime : "&nbsp;" %></td> 
  </tr>
</table>