<p>
  <b>User:</b>
  <%=h @usertime.user %>
</p>

<p>
  <b>Keytime:</b>
  <%=h @usertime.keytime %>
</p>

<p>
  <b>Sun:</b>
  <%=h @usertime.sun %>
</p>

<p>
  <b>Mon:</b>
  <%=h @usertime.mon %>
</p>

<p>
  <b>Tue:</b>
  <%=h @usertime.tue %>
</p>

<p>
  <b>Wed:</b>
  <%=h @usertime.wed %>
</p>

<p>
  <b>Thu:</b>
  <%=h @usertime.thu %>
</p>

<p>
  <b>Fri:</b>
  <%=h @usertime.fri %>
</p>

<p>
  <b>Sat:</b>
  <%=h @usertime.sat %>
</p>


<%= link_to 'Edit', edit_usertime_path(@usertime) %> |
<%= link_to 'Back', usertimes_path %>