<h1>Please select toons to associate with your account</h1>
<div id="tabs">
  
  <ul>
    <li><a href="#tabs-mine">My Toons</a></li>
    <% WowInterface::GUILDS.each_index do |idx| %>
      <% guild = WowInterface::GUILDS[idx] %>
      <li><a href="#tabs-<%= idx -%>">Select From: <%= guild -%></a></li>
    <% end -%>
  </ul>
  <div id="tabs-mine">
    <table>
      <tr>
        <th width="25%">Name</th>
        <th width="5%">Race</th>
        <th width="5%">Class</th>
      </tr>
      <% @mymembers.each do |dude| %>
        <%= render :partial => 'member', :locals => {:dude => dude} %>
      <% end %>
    </table>
  </div>
  <% WowInterface::GUILDS.each_index do |idx| %>
  <div id="tabs-<%= idx -%>">
    <table>
      <tr>
        <th width="25%">Name</th>
        <th width="5%">Race</th>
        <th width="5%">Class</th>
      </tr>
      <% mems = @unused.select{|m| m.guild == WowInterface::GUILDS[idx]} %>
      <% mems.each do |dude| %>
        <%= render :partial => 'member', :locals => {:dude => dude} %>
      <% end %>
    </table>
  </div> <!-- tabs-<%= idx%> -->
  <% end %>
</div> <!-- tabs -->

<script>
  $(document).ready(function() {
    // Tabs
    $('#tabs').tabs();
  });
</script>