<% title "Accounts" %>

<p>
  <strong>Account Number:</strong>
  <%=h @accounts.account_number %>
</p>
<p>
  <strong>Department:</strong>
  <%=h @accounts.department_id %>
</p>
<p>
  <strong>Name:</strong>
  <%=h @accounts.name %>
</p>

<p>
  <%= link_to "Edit", edit_accounts_path(@accounts) %> |
  <%= link_to "Destroy", @accounts, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", accounts_path %>
</p>
