<% form_for @surplus do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </p>
  <p>
    <%= f.label :building_number %><br />
    <%= f.text_field :building_number %>
  </p>
  <p>
    <%= f.label :contact %><br />
    <%= f.text_field :contact %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
