<table>
  <tr>
    <th width=5%><%= default_sortable_header("name", 'desc') %></th>
    <td width=5%><%= sortable_header("guild", 'asc') %></th>
    <th width=3%>Level</th>
    <th width=3%><%= sortable_header("racepic", 'asc') %></th>
    <th width=3%><%= sortable_header("classpic",  'asc') %></th>
    <% @capabilities = Capability.all %>
    <% @capabilities.each do |cap| %>
      <th width=3%><%= cap.name %></th>
    <% end %>
  </tr>
  <% for member in members %>
    <tr class="<%= cycle("even", "odd") -%>">
      <%= render :partial => 'teammember', :locals => {:member => member, :capabilities => @capabilities}%>
    </tr>
  <% end %>
</table>