<h1>Editing "<%= @team.identity -%>"</h1>
<% form_for(@team) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :size %><br />
    <%= f.text_field :size %>
  </p>
  <p>
    <%= f.label :identity %><br />
    <%= f.text_field :identity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
  <br \>
  <%= render :partial => 'form', :locals => {:team => @team, :unused => @unused, :capabilities => @capabilities} %>

<% end %>
<script>
  $(document).ready(function() {
    // Tabs
    $('#tabs').tabs();
  });
</script>