<p>
  <b>Number:</b>
  <%=h @team.number %>
</p>

<p>
  <b>Size:</b>
  <%=h @team.size %>
</p>

<p>
  <b>Identity:</b>
  <%=h @team.identity %>
</p>


<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>