<% title "Jobs" %>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Due Date</th>
    <th>Account</th>
  </tr>
  <% for jobs in @jobs %>
    <tr>
      <td><%=h jobs.name %></td>
      <td><%=h jobs.description %></td>
      <td><%=h jobs.due_date %></td>
      <td><%=h jobs.account_id %></td>
      <td><%= link_to "Show", jobs %></td>
      <td><%= link_to "Edit", edit_job_path(jobs) %></td>
      <td><%= link_to "Destroy", jobs, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Jobs", new_job_path %></p>
