<% title "Business Card Batches" %>

<table>
  <tr>
    <th>Quantity</th>
    <th>Printed</th>
    <th>Batch Name</th>
  </tr>
  <% for business_card_batch in @business_card_batches %>
    <tr>
      <td><%=h business_card_batch.quantity %></td>
      <td><%=h business_card_batch.printed %></td>
      <td><%=h business_card_batch.batch_name %></td>
      <td><%= link_to "Show", business_card_batch %></td>
      <td><%= link_to "Edit", edit_business_card_batch_path(business_card_batch) %></td>
      <td><%= link_to "Destroy", business_card_batch, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Business Card Batch", new_business_card_batch_path %></p>
