<h1>New person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :alternate_last_name %><br />
    <%= f.text_field :alternate_last_name %>
  </p>
  <p>
    <%= f.label :email_name %> @ <%= f.label :email_domain %><br />
    <%= f.text_field :email_name %>    <%= f.collection_select :email_domain, Person.find(:all, :select => 'distinct email_domain'), :email_domain, :email_domain %>
  </p>
  <p>
    <br />
    
  </p>
  <p>
    <%= f.label :department_id %><br />
    <%= f.collection_select :department_id, Department.find(:all), :id, :name %>  </p>
  <p>
    <%= f.label :created_on %><br />
    <%= f.datetime_select :created_on %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', people_path %>