<%= debug params %>

<% form_for @job do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :input_person %><br />
    <%= @job.input_person %>
    <%= f.hidden_field :input_person %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
     <%= f.label :description %><br />
     <%= f.text_area :description %>
   </p>
   <p>
     <%= f.label :due_date %><br />
     <%#= f.date_select :due_date %>
     <%= calendar_box 'job', 'due_date'%>
   </p>
   <p>
     <%= f.label :due_time %><br />
     <%= f.datetime_select :due_time %>
     <%#= calendar_select 'job', 'due_time',
      {:class => 'datetime'}  %>
   </p>
   <p>
     <%= f.label :submit_date %><br />
     <%#= f.date_select :submit_date %>
     <%= calendar_box 'job', 'submit_date' %>
   </p>
   <p>
     <%= f.label :received_date %><br />
     <%#= f.date_select :received_date %>
     <%= calendar_box 'job', 'received_date' %>
   </p>
   <p>
     <%= f.label :ordered_by %><br />
     <%= f.text_field :ordered_by %>
   </p>
   <p>
     <%= f.label :auth_sig %><br />
     <%= f.check_box :auth_sig %>
   </p>
   <p>
     <%= f.label :department_id %><br />
     
     <%= f.text_field :department_id, :id => "depts", :name => 'depts' %>
     <div id="departmentChoices" class="autocomplete"></div>
   </p>
   <p>
     <%= f.label :account_id %><br />
     <%= f.text_field :account_id %>
   </p>
   <!-- Here we call fields_for on the job_form builder instance.
        The block is called for each member of the workflows collection. -->
    <% f.fields_for :workflows do |workflow_form| %>
      <p>
        <div>
          <%= workflow_form.label :name, 'Task: ' %>
          <%= workflow_form.text_field :name %>
          <%= workflow_form.label :step_needed, 'Task: ' %>
          <%= workflow_form.check_box :step_needed %>
          <%= workflow_form.label :note, 'Note: ' %>
          <%= workflow_form.text_field :note %>
        </div>
      <% unless workflow_form.object.new_record? %>
        <div>
          <%= workflow_form.label :_delete, 'Remove:' %>
          <%= workflow_form.check_box :_delete %>
        </div>
      <% end %>
    </p>
  <% end %>
   
  <p><%= f.submit "Create/Update Job" %></p>
<% end %>

