<%#= debug params %>
<% javascript 'dynamic_accounts' %>
<% form_for @job do |f| %>
<%#= f.error_messages %>
<div id='jobinfo'>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ticket %><br />
    <%= f.text_field :ticket %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
</div>
<div id='dateinfo'>
  <p>
    <%= f.label :due %><br />
    <%= calendar_field 'job', 'due', {}, { :showsTime => true, :timeFormat => "12", :firstDay => 1 } %><br />
  </p>
  <p>
    <%= f.label :submit_date %><br />
    <%= calendar_field 'job', 'submit_date', { :width => 75 }, { :firstDay => 1 }  %>
  </p>
  <p>
    <%= f.label :received_date %><br />
    <%= calendar_field 'job', 'received_date', { :width => 75 }, { :firstDay => 1 }  %>
  </p>
</div>
<div id='billinginfo'>
  <p>
    <%= f.label :ordered_by %><br />
    <%= f.text_field :ordered_by %>
  </p>
  <p>
    <%= f.label :auth_sig %><br />
    <%= f.check_box :auth_sig %>
  </p>
  <p id="job_department_id">
    <label for="job_department_id">School or Department</label><br />
    <%# going to try auto complete based on selected department %> 
    <%#= f.collection_select :department_id, Department.find(:all), :id, :name, :prompt => 'Select a Department or School' %>
    <%# the ryan bates way of doing it %>
    <%= text_field_with_auto_complete :job, :dept, { :size => 25 }, { :url => formatted_departments_path(:js), :method => :get, :with => "'search=' + element.value" } %>
  </p>
  <p id="account_field">
    <label for="job_account_id">Account</label><br />
    <%# going to try auto complete based on selected department %> 
    <%#= f.collection_select :account_id, Account.find(:all), :id, :number, :prompt => 'Select an account' %>
    <%# the ryan bates way of doing it %>
    <%= text_field_with_auto_complete :job, :acct, { :size => 40 }, { :url => formatted_accounts_path(:js), :method => :get, :with => "'search=' + element.value" } %>
    <%#= select(:job , :account_id , Account.find(:all).collect{|p| [ p.number, p.id ] }.sort, { :include_blank => true } ) %>
  </p>
</div>
<div id='workflowinfo'>
  <!-- Here we call fields_for on the job_form builder instance.
  The block is called for each member of the workflows collection. -->
  <% f.fields_for :workflows do |workflow_form| %>
  <p>
    <div>
      Task: <%= workflow_form.text_field :name %><%= workflow_form.hidden_field :task_id %><br />
      <%#= workflow_form.label :step_needed%>
      Check if step needed: <%= workflow_form.check_box :step_needed  %><br />
      <%= workflow_form.label :note, 'Note: ' %>
      <%= workflow_form.text_field :note %>
      <%= workflow_form.hidden_field :order %>
    </div>
    <% unless workflow_form.object.new_record? %>
    <div>
      <%= workflow_form.label :_delete, 'Remove:' %>
      <%= workflow_form.check_box :_delete %>
    </div>
    <% end %>
  </p>
  <% end %>
</div>
<p>
  <%= f.label :input_person %><br />
  <%= @job.input_person %>
  <%= f.hidden_field :input_person %>
</p>
<p><%= f.submit "Create/Update Job" %></p>
<% end %>






