<%#= debug params %>

<% form_for @job do |f| %>
  <%#= f.error_messages %>
  <div id='jobinfo'>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ticket %><br />
    <%= f.text_field :ticket %>
  </p>
  <p>
     <%= f.label :description %><br />
     <%= f.text_area :description %>
   </p>
   </div>
  <div id='dateinfo'>
   <p>
     <%= f.label :due_date %><br />
     <%#= f.date_select :due_date %>
     <%= calendar_box 'job', 'due_date', {}, { :daFormat => "%m %d %Y" } %>
   </p>
   <p>
     <%#= f.label :due_time %><br />
     <%#= calendar_box 'job', 'due_time',  { :showsTime => true } %>
     <%= time_select 'job', 'due_time'  %>
   </p>
   <p>
     <%= f.label :submit_date %><br />
     <%#= f.date_select :submit_date %>
     <%= calendar_box 'job', 'submit_date' %>
   </p>
   <p>
     <%= f.label :received_date %><br />
     <%#= f.date_select :received_date %>
     <%= calendar_box 'job', 'received_date' %>
   </p>
   </div>
   <div id='billinginfo'>
   <p>
     <%= f.label :ordered_by %><br />
     <%= f.text_field :ordered_by %>
   </p>
   <p>
     <%= f.label :auth_sig %><br />
     <%= f.check_box :auth_sig %>
   </p>
   <p>
     <%= f.label :department_id %><br />
     <!-- old way of doing it does a find in the view -->
     <%#= select(:job , :department_id , Department.find(:all).collect {|p| [ p.name, p.id ] }, { :include_blank => true } ) %>
     <!-- the new hotness, but it is borked.  -->
     <%#= select("job" , :department_id, options_from_collection_for_select(@departments, :id, :name), { :include_blank => true } ) %>
     <%# the ryan bates way of doing it %>
     <%= text_field_with_auto_complete :job, :department_id, { :size => 25 }, { :url => formatted_departments_path(:js), :method => :get, :with => "'search=' + element.value" } %>
   </p>
   <p>
     <%= f.label :account_id %><br />
     <%= select(:job , :account_id , Account.find(:all).collect{|p| [ p.number, p.id ] }.sort, { :include_blank => true } ) %>
     <!-- really need to javascript these two, to limit what we see in the second (below) based on what's selected in the first (above) -->
     <%#= select("job", :account_id, options_from_collection_for_select(@accounts, :id, :number), { :include_blank => true } ) %>
   </p>
   </div>
   <div id='workflowinfo'>
   <!-- Here we call fields_for on the job_form builder instance.
        The block is called for each member of the workflows collection. -->
    <% f.fields_for :workflows do |workflow_form| %>
      <p>
        <div>
          Task: <%= workflow_form.text_field :name, 'disabled' => 'true' %><%= workflow_form.hidden_field :name %><br />
          <%#= workflow_form.label :step_needed%>
          Check if step needed: <%= workflow_form.check_box :step_needed  %><br />
          <%= workflow_form.label :note, 'Note: ' %>
          <%= workflow_form.text_field :note %>
          <%= workflow_form.hidden_field :order %>
        </div>
      <% unless workflow_form.object.new_record? %>
        <div>
          <%= workflow_form.label :_delete, 'Remove:' %>
          <%= workflow_form.check_box :_delete %>
        </div>
      <% end %>
    </p>
  <% end %>
   </div>
    <p>
    <%= f.label :input_person %><br />
    <%= @job.input_person %>
    <%= f.hidden_field :input_person %>
  </p>
  <p><%= f.submit "Create/Update Job" %></p>
<% end %>






