<div class="AccordionPanel">
  <%= "<div class=\"#{index_accordion_color(job)}\"" %>
    <%= render :partial => 'job_accordion_top', :locals => { :job => job } %>
  </div>
  <div class="AccordionPanelContent">
    <div id='jobinfo'>
      <%= link_to "Edit", edit_job_path(job) %><br />
      <% unless job.workflow_id.nil? %>
      <p>
        <% form_tag complete_step_job_path(job), :method => :put do %>
        <%= submit_tag "Mark as Complete" %><br />
        <%= job.workflow.name %><br />
        <%= job.workflow.note %><br />
        <%#= hidden_field :current_page => { :current_page => @current_page }  %>

        <% end %>
      </p>
      <% end %>
      <p>Long Description:<br /><%=h job.description %></p>
      <p>Submit Date: <%=h job.submit_date.strftime("%m/%d/%Y") unless job.submit_date.nil? %></p>
      <p>Received Date: <%=h job.received_date unless job.received_date.nil? %></p>
      <p>Department: <%=h job.department.name unless  job.department.nil? %></p>
      <p>Account Number: <%=h job.account_id unless job.account_id.nil? %></p>
      <p>Ordered By: <%=h job.ordered_by %></p>
      <p>Authorized Signature: <%=h job.auth_sig %></p>
      <p><%=h job.input_person %></p>
    </div>
  </div>
</div>
