<% title "Job" %>

<p>
  <strong>Name:</strong>
  <%=h @job.name %>
</p>
<p>
  <strong>Job Ticket:</strong>
  <%=h @job.ticket %>
</p>
<p>
  <strong>Description:</strong>
  <%=h @job.description %>
</p>
<p>
  <strong>Due Date:</strong>
  <%=h @job.due_date %>
</p>
<p>
  <strong>Due Time:</strong>
  <%=h @job.due_time %>
</p>
<p>
  <strong>Submit Date:</strong>
  <%=h @job.submit_date.strftime("%m %d %y") unless @job.submit_date.nil? -%>
</p>
<p>
  <strong>Ordered By:</strong>
  <%=h @job.ordered_by %>
</p>
<p>
  <strong>Input Person:</strong>
  <%=h @job.input_person %>
</p>
<p>
  <strong>Auth Sig:</strong>
  <%=h @job.auth_sig %>
</p>
<p>
  <strong>Department:</strong>
  <%=h @job.department.name unless @job.department.nil? %>
</p>
<p>
  <strong>Account:</strong>
  <%=h @job.account.number unless @job.account.nil? %>
</p>
<% for workflow in @workflows %>
     <p>
      <%=h workflow.name %>:
      <%=h workflow.note %>
      </p>
<% end %>
<p>
  <%= link_to "Edit", edit_job_path(@job) %> |   <%= link_to "New Job using this Job as template", new_from_template_job_path(@job) %> | <%= link_to "Destroy", @job, :confirm => 'Are you sure?', :method => :delete %> |
  
</p>
