<% title "Workflows" %>

<table>
  <% for workflow in @workflows %>
    <tr>
      <td><%=h workflow.name %></td>
      <td><%=h workflow.order %></td>
      <td><%=h workflow.note %></td>
      <td><%=h workflow.completed %></td>
      <td><%=h workflow.id %></td>
  	</tr>
  	<tr>
      <td><%=h workflow.completed_date %></td>
      <td><%=h workflow.job_id %></td>
      <td><%= link_to "Show", workflow %></td>
      <td><%= link_to "Edit", edit_workflow_path(workflow) %></td>
      <td><%= link_to "Destroy", workflow, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
<td><hr /></td>
  <% end %>
</table>

<p><%= link_to "New Workflow", new_workflow_path %></p>
