  <tr class = "<%= "#{cur_class}" %>" >
    <td><%=h song.title %></td>
    <td><%=h artist.name %></td>
    <td><%=h song.genre.name %></td>
    <td><%=h song.file %></td>
    <td><%=h song.songtype.name %></td>
    <td> <%=  check_box_tag "songs[#{song.id}][]", song.id %> </td>
  </tr>