<h1>Editing album</h1>

<% form_for(@album) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :artist %><br />
    <%= link_to @album.artist.name, @album.artist %>
  </p>
  <p>
    <%= f.label :genre %><br />
    <%= link_to @album.genre.name, @album.genre %>
  </p>
  
  <br />
  Select songs to fix with this change!
  <% for song in @album.songs %>
    <table>
    <% for song in @album.songs.sort %>
      <%= render :partial => 'song', :locals => { :song => song, :f => f, :cur_class => cycle("cssAlternating1", "cssAlternating2") } %>
    <% end %>
  </table>
  <% end %>
  
  <p>
    <%= f.submit "Update" %>
  </p>
  
<% end %>

<%= link_to 'Show', @album %> |
<%= link_to 'Back', albums_path %>
