<h1>Listing albums</h1>

<% form_tag albums_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Name</th>
    <th>Artist</th>
    <th>Genre</th>
  </tr>

<% for album in @albums %>
  <tr>
    <td><%= link_to album.name, album %></td>
    <td><%=h album.artist.name %></td>
    <td><%=h album.genre.name %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @albums %>
<br>

<br />

<%= link_to 'New album', new_album_path %>
