<p>
  <b>Name:</b>
  <%=h @album.name %>
</p>

<p>
  <b>Artist:</b>
  <%=h @album.artist %>
</p>

<p>
  <b>Genre:</b>
  <%=h @album.genre %>
</p>

<p>
  <b>Tracks:</b>
  <table>
    <% for song in @album.songs %>
      <%= render :partial => 'songs/song', :locals => { :song => song, :cur_class => cycle("cssAlternating1", "cssAlternating2") } %>
    <% end %>
  </table>
</p>


<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
