<p>
  <b>Phone number:</b>
  <%=h @phone.phone_number %>
</p>

<p>
  <b>Phone area code:</b>
  <%=h @phone.phone_area_code %>
</p>

<p>
  <b>Phone type:</b>
  <%=h @phone.phone_type.phkind %>
</p>


<%= link_to 'Edit', edit_phone_path(@phone) %> |
<%= link_to 'Back', phones_path %>