<% title "Surplus Items" %>

<table>
  <tr>
    <th>Surplussed By</th>
    <th>Description</th>
    <th>Make Model</th>
    <th>Inventory Id Tag Number</th>
    <th>Quantity</th>
    <th>Condition Code</th>
  </tr>
  <% for surplus_items in @surplus_items %>
    <tr>
      <td><%=h surplus_items.oversupply.name %></td>
      <td><%=h surplus_items.description %></td>
      <td><%=h surplus_items.make_model %></td>
      <td><%=h surplus_items.inventory_id_tag_number %></td>
      <td><%=h surplus_items.quantity %></td>
      <td><%=h surplus_items.condition_code %></td>
      <td><%= link_to "Show", surplus_items %></td>
      <td><%= link_to "Edit", edit_surplus_item_path(surplus_items) %></td>
      <td><%= link_to "Destroy", surplus_items, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Surplus Items", new_surplus_item_path %></p>
