<% title "Surplus Items" %>

<p>
  <strong>Description:</strong>
  <%=h @surplus_items.description %>
</p>
<p>
  <strong>Make Model:</strong>
  <%=h @surplus_items.make_model %>
</p>
<p>
  <strong>Inventory Id Tag Number:</strong>
  <%=h @surplus_items.inventory_id_tag_number %>
</p>
<p>
  <strong>Quantity:</strong>
  <%=h @surplus_items.quantity %>
</p>
<p>
  <strong>Condition Code:</strong>
  <%=h @surplus_items.condition_code %>
</p>

<p>
  <%= link_to "Edit", edit_surplus_item_path(@surplus_items) %> |
  <%= link_to "Destroy", @surplus_items, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", surplus_items_path %>
</p>
