<h1>New graphic_arts_person</h1>

<% form_for(@graphic_arts_person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :highlight_color_one %><br />
    <%= f.text_field :highlight_color_one %>
  </p>
  <p>
    <%= f.label :highlight_color_two %><br />
    <%= f.text_field :highlight_color_two %>
  </p>
  <p>
    <%= f.label :highlight_color_three %><br />
    <%= f.text_field :highlight_color_three %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', graphic_arts_people_path %>