<%#= debug params %>

<% form_for @job do |f| %>
<%#= f.error_messages %>
<div id='jobinfo'>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :ticket %><br />
    <%= f.text_field :ticket %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </p>
</div>
<div id='dateinfo'>
  <p>
    <%= f.label :due %><br />
    <%= calendar_field 'job', 'due', { :width => 75 }, { :showsTime => true, :timeFormat => "12", :firstDay => 1 } %><br />
  </p>
  <p>
    <%= f.label :submit_date %><br />
    <%= calendar_field 'job', 'submit_date', { :width => 75 }, { :firstDay => 1 } %>
  </p>
  <p>
    <%= f.label :received_date %><br />
    <%= calendar_field 'job', 'received_date', { :width => 75 }, { :firstDay => 1 }  %>
  </p>
</div>
<div id='billinginfo'>
  <p>
    <%= f.label :ordered_by %><br />
    <%= f.text_field :ordered_by %>
  </p>
  <p>
    <%= f.label :auth_sig %><br />
    <%= f.check_box :auth_sig %>
  </p>
  <p>
    <%= f.label :department_id %><br />
    <%# The jquery way of doing it %>
    <%= f.text_field :department_id, :autocomplete => "off", :html => { :id => 'job_department_id'} %>
    <%# the ryan bates way of doing it %>
    <%#= text_field_with_auto_complete :job, :dept, { :size => 25 }, { :url => formatted_departments_path(:js), :method => :get, :with => "'search=' + element.value" } %>
  </p>
  <p>
    <%= f.label :account_id %><br />
    <%= text_field_with_auto_complete :job, :acct, { :size => 40 }, { :url => formatted_accounts_path(:js), :method => :get, :with => "'search=' + element.value" } %>
    <%#= select(:job , :account_id , Account.find(:all).collect{|p| [ p.number, p.id ] }.sort, { :include_blank => true } ) %>
  </p>
</div>
<div id='taskinfo'>
  <!-- Here we call fields_for on the job_form builder instance.
  The block is called for each member of the tasks collection. --> 
  <!-- the old way          -->        
    <% f.fields_for :tasks do |task_form| %>
    <p>
      <div>
        Task_type: <%= task_form.text_field :name %><%= task_form.hidden_field :task_type_id %><br />
        <%#= task_form.label :step_needed%>
        Needed: <%= task_form.check_box :step_needed  %><br />
        <%= task_form.label :note, 'Note: ' %>
        <%= task_form.text_field :note %><br >
        <%= task_form.text_field :order, 'disabled' => 'true' %><%= task_form.hidden_field :order %><br />
        <%= task_form.label :completed %>
        <%= task_form.check_box :completed %><br />
        <%= task_form.label :completed_date %>
        <%= task_form.date_select :completed_date %>
        <%#= calendar_field(job[tasks][], 'completed_date', { }, { :firstDay => 1 }) %><br />
        
      </div>
      <% unless task_form.object.new_record? %>
      <div>
        <%= task_form.label :_delete, 'Remove Step:' %>
        <%= task_form.check_box :_delete %>
      </div>
      <% end %>
    </p>
    <% end %>
  </div>  
    
  <!-- I want the NEW way to work  
    <%= render :partial => 'step', :collection => @job.tasks %>   
   -->           
  <p>
    <%= f.label :total_cost %><br />
    <%= f.text_field :total_cost %>
</p>

  <p>
    <%= f.label :input_person %><br />
    <%= @job.input_person %>
    <%= f.hidden_field :input_person %>
  </p>
</div>
<p><%= f.submit "Create/Update Job" %></p>
<% end %>






