<h1>New person_phone</h1>

<% form_for(@person_phone) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :person %><br />
    <%= f.text_field :person %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', person_phones_path %>