<% javascript :defaults, 'delegate' %>
<%= error_messages_for :submission %>



<% form_for(@submission) do |submission_form| -%>


  <p>
    <%= submission_form.label :user %><br />
    <%= @submission.user.name %>
  </p>
  <p>
    <%= submission_form.label :name %><br />
    <%= submission_form.text_field :name %>
  </p>
  <p>
    <%= submission_form.label :department %><br />
    <%= submission_form.text_field :department %>
  </p>
  <p>
    <%= submission_form.label :bldg %><br />
    <%= submission_form.text_field :bldg %>
  </p>
  <div id="items">
    <span class="surplusheader">
      <span class="surplusdesc">Description</span>
      <span class="surplusmake">Make/Model/ISBN</span>
      <span class="surplusidtag">Inventory ID Tag Number<br />or if no id tag,<br />List Serial Number</span>
      <span class="surplusqty">Quan.</span>
      <span class="surpluscondition">Condition Code</span>
      <span class="surplusremove">Remove Item</span>
    </span>
    <%= render :partial => 'item', :collection => @submission.items %>
  </div>
  <br />
  <p><br /><br /><br /><br /></p><p><span class='surplusadd'><%= add_item_link "Add an item" %></span></p>

<p>
<br /><span class='surplusadd'><%= submission_form.submit "Submit" %></span>
</p>
<% end -%>


<br /><span class='surplusadd'><%= link_to 'Back', submissions_path %></span>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br />