<% javascript :defaults, 'delegate' %>
<%= error_messages_for :submission %>



<% form_for(@submission) do |submission_form| -%>


  <p>
    <%= submission_form.label :user %><br />
    <%= @submission.user.name %>
  </p>
  <p>
    <%= submission_form.label :name %><br />
    <%= submission_form.text_field :name %>
  </p>
  <p>
    <%= submission_form.label :department %><br />
    <%= submission_form.text_field :department %>
  </p>
  <p>
    <%= submission_form.label :bldg %><br />
    <%= submission_form.text_field :bldg %>
  </p>
<div class="surplus_header"><span class="surplus_desc">Description</span><span class="surplus_make">Make/Model/ISBN</span><span class="surplus_idtag">Inventory ID Tag Number or if no id tag, List Serial Number</span><span class="surplus_qty">Quan.</span><span class="surplus_condition">Condition Code</span></div>
<div id="items">
    <%= render :partial => 'item', :collection => @submission.items %>
</div>
<p><%= add_item_link "Add an item" %></p>

<p>
<%= submission_form.submit "Submit" %>
</p>
<% end -%>


<%= link_to 'Back', submissions_path %>