<div class='breaker'></div>
<div class="item">
  <% fields_for_item(item) do |f| %>
    <div class="surplus">
      <span class='surplusdesc'><%= f.text_field(:description, :class => 'sdesc')%></span>
      <span class='surplusmake'><%= f.text_field(:make, :class => 'smake') %></span>
      <span class='surplusidtag'><%= f.text_field(:number, :class => 'sidtag') %></span>
      <span class='surplusqty'><%= f.text_field(:qty, :class => 'sqty') %></span>
      <span class='surpluscondition'><%= f.collection_select(:condition_id, Condition.all, :id, :name, :class => 'scondition') %></span>
			<span class='surplusspacer'>-</span>
      <span class='surplusremove'><span class="sremove"><%= link_to_function "remove", "$(this).up('.item').remove()" %></span></span>
    </div>
  <% end %>
</div>
