<div class="item">
  <% fields_for_item(item) do |f| %>
    <span class="surplus">
	 <span class='surplusdesc'><%= f.text_field(:description, :size => 15)%></span>
    <span class='surplusmake'><%= f.text_field(:make, :size => 15) %></span>
    <span class='surplusidtag'><%= f.text_field(:number, :size => 15) %></span>
    <span class='surplusqty'><%= f.text_field(:qty, :size => 7) %></span>
    <span class="surpluscondition"><%= f.collection_select(:condition_id, Condition.all, :id, :name) %></span>
    <span class="surplusremove"><%= link_to_function "remove", "$(this).up('.item').remove()" %></span>
    </span>
  <% end %>
</div>