<div class="item">
  <% fields_for_item(item) do |f| %>
    <p>
      <%= f.label :description %><br />
      <%= f.text_field :description %>
    </p>
    <p>
      <%= f.label :make %><br />
      <%= f.text_field :make %>
    </p>
    <p>
      <%= f.label :number %><br />
      <%= f.text_field :number %>
    </p>
    <p>
      <%= f.label :qty %><br />
      <%= f.text_field :qty %>
    </p>
    
    <%= link_to_function "remove", "$(this).up('.item').remove()" %>

  <% end %>
</div>