<h1>Listing submissions</h1>

<table>
  <tr>
    <th width="30%">Request Name</th>
    <th width="30%">Submitted By</th>
    <th width="30%">Department</th>
    <th width="10%">Updated</th>
    <th></th>
  </tr>

<% @submissions.each do |submission| %>
  <tr>
    <td><%= link_to submission.name, submission %></td>
    <td><%= submission.user.fullname%></td>
    <td><%= submission.department%></td>
    <td><%= submission.updated_at.strftime("%b %d, %Y") %>
    <td><%= link_to 'Report', submission_path(submission, :format => :pdf) %></td>
    <td><%= link_to 'Edit', edit_submission_path(submission) %></td>
    <td><%= link_to 'Destroy', submission, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New submission', new_submission_path %>