<% title "Business Card for #{@business_card.name}" %>
<div class="bc_content">
<div class="district_logo"></div>
<div class="card_content">
  <p><%=h @business_card.name %><br />
    <%=h @business_card.title %><br />
<%- if @business_card.title_line_2 -%>
<%=h @business_card.title_line_2 %></p>
<%- end -%>
<p><%=h @business_card.school %><br />
<%- if @business_card.distinguished_school -%>
<%= "A California Distinguished School" %>
<%- end -%>
<%- if @business_card.school_line_2 -%>
<%=h @business_card.school_line_2 %><br />
<%- end -%>
<%=h @business_card.address %><br />
<%=h @business_card.city %>, <%=h @business_card.state %>  <%=h @business_card.zip %><br />
<%=h @business_card.phone %> Fax: <%=h @business_card.fax %><br />
<%=h @business_card.email %><br />
<%- if @business_card.altEd -%>
<%= "Alternative Education Phone Numbers on Back" %>
<%- end -%>
</p>
</div>
</div>
<p>
  <strong>Extra Text:</strong>
  <%=h @business_card.extra %>
</p>
<p>This is a sample for proofreading only. Actual font and layout will use the AUHSD style template and typestyle. Extra text will be included only if you include a sample. Otherwise, we cannot guess at it's placement. There is an option to include Alternative Education phone numbers on the back of the card, and a line of text at the bottom of the card. An option to include "A California Distinguished School" is also available. These lines will appear on this sample if the checkboxes are marked. Other text that your school may include will be added to the template in a later revision. </p>
<p>
  <%= link_to "Edit", edit_business_card_path(@business_card) %> |
  <%= link_to "Destroy", @business_card, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", business_cards_path %> |
  <%= link_to "New Business Card", new_business_card_path %>
</p>
