<h1>Editing person</h1>

<% form_for(@person) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </p>
  <p>
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </p>
  <p>
    <%= f.label :middle_name %><br />
    <%= f.text_field :middle_name %>
  </p>
  <p>
    <%= f.label :alternate_last_name %><br />
    <%= f.text_field :alternate_last_name %>
  </p>
  <p>
    <%= f.label :phone_id %><br />
    <%= f.text_field :phone_id %>
  </p>
  <p>
    <%= f.label :email_name %><br />
    <%= f.text_field :email_name %>
  </p>
  <p>
    <%= f.label :email_domain %><br />
    <%= f.text_field :email_domain %>
  </p>
  <p>
    <%= f.label :department_id %><br />
    <%= f.text_field :department_id %>
  </p>
  <p>
    <%= f.label :created_on %><br />
    <%= f.datetime_select :created_on %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @person %> |
<%= link_to 'Back', people_path %>