<p>
  <b>Last name:</b>
  <%=h @person.last_name %>
</p>

<p>
  <b>First name:</b>
  <%=h @person.first_name %>
</p>

<p>
  <b>Middle name:</b>
  <%=h @person.middle_name %>
</p>

<p>
  <b>Alternate last name:</b>
  <%=h @person.alternate_last_name %>
</p>

<p>
  <b>Phone:</b>
  <%=h @person.phone_id %>
</p>

<p>
  <b>Email name:</b>
  <%=h @person.email_name %>
</p>

<p>
  <b>Email domain:</b>
  <%=h @person.email_domain %>
</p>

<p>
  <b>Department:</b>
  <%=h @person.department.name %>
</p>

<p>
  <b>Created on:</b>
  <%=h @person.created_on %>
</p>


<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>