<tr id="<%=song.id%>" class = "<%= "#{cur_class}" %>" >
  <% unless toggledraws.include?(:no_checkbox) %> <td> <%= check_box_tag("songs[]", song.id, false, :class=>'song') %> </td> <% end %>
  <% unless toggledraws.include?(:no_title)    %> <td><%= link_to song.title, song  %></td> <% end %>
  <% unless toggledraws.include?(:no_track)    %> <td width="5%"><%= song.track %></td><% end %>
  <% unless toggledraws.include?(:no_artist)   %> <td><%= link_to song.artist.name, song.artist %></td> <% end %>
  <% unless toggledraws.include?(:no_album)    %> <td><%= link_to song.album.name, song.album %></td> <% end %>
  <% unless toggledraws.include?(:no_genre)    %> <td><%=h song.genre.name %></td> <% end %>
  <% unless toggledraws.include?(:no_size)     %> <td><%=h number_to_human_size(song.size) %></td> <% end %>
  <% unless toggledraws.include?(:no_type)     %> <td><%=h song.songtype.name %></td> <% end %>
  <% unless toggledraws.include?(:no_get)      %> <td><%= link_to 'Get', :controller => "songs", :action => "show", :id => song, :format => song.songtype.identifier %></td> <% end %>
  <% unless toggledraws.include?(:no_dnd)      %><td><%= hidden_field_tag("index[]", song.form_idx.to_i, :class=>'plentry') -%></td><% end %>
  <% if Goldberg.user.superUser? %>
    <td><%= (song.songtype.name == "mp3") ? (link_to 'Edit', edit_song_path(song)) : "&nbsp;" %></td>
    <td><%= link_to 'Destroy', song, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
</tr>