<% @inquiries.each do |inquiry| %>
  <tr>
    <td><%=h inquiry.person.last_name %></td>
    <td><%=h inquiry.department.name %></td>
    <td><%=h inquiry.message_text %></td>
    <td><%=h inquiry.persiphone.phone.phone_number %></td>
    <td><%=h inquiry.artist_recipient.name %></td>
    <td><%=h inquiry.artist_notater.name %></td>
    <td><%=h inquiry.created_on %></td>
    <td><%= link_to 'Show', inquiry %></td>
    <td><%= link_to 'Edit', edit_inquiry_path(inquiry) %></td>
    <td><%= link_to 'Destroy', inquiry, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
