<p>
  <b>Person:</b>
  <%=h @inquiry.person.last_name %>
</p>

<p>
  <b>Department:</b>
  <%=h @inquiry.department.name %>
</p>

<p>
  <b>Message text:</b>
  <%=h @inquiry.message_text %>
</p>

<p>
  <b>Persiphone_id:</b>
  <%=h @inquiry.persiphone.phone.phone_number %>
</p>

<p>
  <b>Artist recipient:</b>
  <%=h @inquiry.artist_recipient.name %>
</p>

<p>
  <b>Artist notater:</b>
  <%=h @inquiry.artist_notater.name %>
</p>

<p>
  <b>Created on:</b>
  <%=h @inquiry.created_on %>
</p>


<%= link_to 'Edit', edit_inquiry_path(@inquiry) %> |
<%= link_to 'Back', inquiries_path %>