<h1>Listing artists</h1>

<% form_tag songs_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>


<table>
  <tr>
    <th>Name</th>
  </tr>

<% for artist in @artists %>
  <tr class="<%= cycle("cssAlternating1", "cssAlternating2") %>" >
    <td><%=h artist.name %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%#= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%#= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= will_paginate @products %>
<br>
