<% form_for @business_card_batch do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :quantity %><br />
    <%= f.text_field :quantity %>
  </p>
  <p>
    <%= f.label :printed %><br />
    <%= f.check_box :printed %>
  </p>
  <p>
    <%= f.label :batch_name %><br />
    <%= f.text_field :batch_name %>
  </p>
  <% for business_card_order in @business_card_batch.business_card_orders  %> 
    <% fields_for "business_card_batch[business_card_order_attributes][]", business_card_order do |order_form| %>
       <p>
        Repeat Count: <%= order_form.text_field :repeat_count %> Total Quantity Ordered: <%= order_form.text_field :quantity %>
       </p>
     <% end %>
   <% end %>
  <p><%= f.submit "Submit" %></p>
<% end %>
