<% form_for @business_card do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :ordered %><br />
    <%= f.check_box :ordered %>
  </p>
  <p>
    <%= f.label :title_line_2 %><br />
    <%= f.text_field :title_line_2, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :school %><br />
    <%= f.text_field :school, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :school_line_2 %><br />
    <%= f.text_field :school_line_2, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :address %><br />
    <%= f.text_field :address, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :city %><br />
    <%= f.text_field :city, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :state %><br />
    <%= f.text_field :state, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :zip %><br />
    <%= f.text_field :zip, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :phone %><br />
    <%= f.text_field :phone, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :fax %><br />
    <%= f.text_field :fax, :autocomplete => "off"  %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_field :email, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :extra %><br />
    <%= f.text_field :extra, :autocomplete => "off" %>
  </p>
  <p>
    <%= f.label :altEd %><br />
    <%= f.check_box :altEd %>
  </p>
  <p>
    <%= f.label :distinguished_school %><br />
    <%= f.check_box :distinguished_school %>
  </p>
  <p><%= f.submit "Submit" %></p>
<% end %>
