<h1>Listing artists</h1>

<table>
  <tr>
    <th>Name</th>
    <th>One color</th>
    <th>Two color</th>
    <th>Three color</th>
  </tr>

<% @artists.each do |artist| %>
  <tr>
    <td><%=h artist.name %></td>
    <td><%=h artist.one_color %></td>
    <td><%=h artist.two_color %></td>
    <td><%=h artist.three_color %></td>
    <td><%= link_to 'Show', artist %></td>
    <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
    <td><%= link_to 'Destroy', artist, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New artist', new_artist_path %>