<h1>New artist</h1>

<% form_for(@artist) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :one_color %><br />
    <%= f.text_field :one_color %>
  </p>
  <p>
    <%= f.label :two_color %><br />
    <%= f.text_field :two_color %>
  </p>
  <p>
    <%= f.label :three_color %><br />
    <%= f.text_field :three_color %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', artists_path %>