<p>
  <b>Name:</b>
  <%=h @artist.name %>
</p>

<p>
  <b>One color:</b>
  <%=h @artist.one_color %>
</p>

<p>
  <b>Two color:</b>
  <%=h @artist.two_color %>
</p>

<p>
  <b>Three color:</b>
  <%=h @artist.three_color %>
</p>


<%= link_to 'Edit', edit_artist_path(@artist) %> |
<%= link_to 'Back', artists_path %>