<h1>New member</h1>

<% form_for(@member) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :racepic %><br />
    <%= f.text_field :racepic %>
  </p>
  <p>
    <%= f.label :classpic %><br />
    <%= f.text_field :classpic %>
  </p>
  <p>
    <%= f.label :guild %><br />
    <%= f.text_field :guild %>
  </p>
  <p>
    <%= f.label :health %><br />
    <%= f.text_field :health %>
  </p>
  <p>
    <%= f.label :armor %><br />
    <%= f.text_field :armor %>
  </p>
  <p>
    <%= f.label :strength %><br />
    <%= f.text_field :strength %>
  </p>
  <p>
    <%= f.label :stamina %><br />
    <%= f.text_field :stamina %>
  </p>
  <p>
    <%= f.label :agility %><br />
    <%= f.text_field :agility %>
  </p>
  <p>
    <%= f.label :spirit %><br />
    <%= f.text_field :spirit %>
  </p>
  <p>
    <%= f.label :intellect %><br />
    <%= f.text_field :intellect %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', members_path %>